body {
    margin: 0;
    width: 100%;
    height: auto;
}
header {
    background-color: rgb(0, 146, 63);
    box-shadow: 0px 5px 15px 0px rgba(0, 146, 63, 0.5);
    width: 100%;
    height: 41px;
}
.main_container {
    width: 75vw;
    margin: 0px auto;
}
/*.container_1::before {
    content:"";
    display:inline-block;
    border-radius: 50%;
    background-color: white;
    width: 6px;
    height: 6px;
    position: relative;
    right: 5px;
    bottom: 3px;
}*/
.shipping_container {
    width: 50%;
    height: 41px;
    display: inline-flex; /*added this*/
    align-items: center;
}
.container_1 {
    color:aliceblue;
    font-size: 14px;
    font-family: "Open sans";
    padding-left: 25px;
    align-items: center;
    display: flex;

}
.container_1::before {
    content: '';
    width: 6px;
    border-radius: 50%;
    height: 6px;
    background: white;
    margin-right: 3px;
}
.button_container {
    display: inline-block;
    height: 41px;
    float:right;
    margin-right: 10%;
}
.login_button {
    display: block;
    height: 41px;
    line-height: 41px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: #03883c;
    box-shadow: 0px 0px 5px 0px rgba(2, 49, 22, 0.1);
}
.login_button:hover {
    background-color: #258b50;
}
.logo_name_container {
    height: 100px;
    width: auto;
}
.logo {
    width: 59px;
    height: 69px;
    margin-top: 29px;
    margin-left: 10px;
    margin-right: 15px;
}
.logo_name_1 {
    position: relative;
    bottom: 32px;
    color: #00923f;
    font-family: "Open sans";
    font-weight: 400;
    height: auto;
    font-size: 40px;
}
.logo_name_2 {
    position: relative;
    left: -225px;
    bottom: 6px;
    font-size: 20px;
    color: rgb(34, 34, 34);
    font-family: "Open sans";
    font-weight: 400;
    width: auto;
}
.background_container {
    background-color: #f1f1f1;
    width: 100%;
}
.filter_container {
    height: 64px;
    margin-top: 28px;
    display: flex;
}
.country {
    margin-left: 5px;
    align-self: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(232, 232, 232);
    background-color: rgb(255, 255, 255);
    width: 228px;
    height: 46px;
    font-size: 15px;
    color: #737373;
    font-weight: 500;
}
.searching {
    margin-left: 36px;
    align-self: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(232, 232, 232);
    background-color: rgb(255, 255, 255);
    width: 228px;
    height: 46px;
    font-size: 15px;
    color: #737373;
    font-weight: 500;
}
.input_term {
    margin-left: 36px;
    align-self: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(232, 232, 232);
    background-color: rgb(255, 255, 255);
    width: 250px;
    height: 46px;
    color: #737373;
    font-weight: 500;
    font-size: 15px;
}
.button {
    align-self: center;
    background-color: rgb(0, 146, 63);
    box-shadow: 0px 5px 15px 0px rgba(0, 146, 63, 0.5);
    min-width: 114px;
    height: 46px;
    color: aliceblue;
    font-weight: 500;
    font-size: 16px;
}
.center_container {
    display: flex;
    width: 75vw;;
    margin: 0px auto;
}
.ad_container {
    margin-top: 36px;
    width: 160px;
    margin-left: 5px;
    margin-right: 0px;
}
.ad_2  {
    display: block;
    margin-top: 12px;
}
.catalog {
    width: 56%;
    margin-top: 36px;
    margin-left: 26px;
    background-color: darkgreen;
}
.product-wrapper {
    display: inline-block;
    margin-right: 9px;
    margin-bottom: 28px;
    height: 226px;
    vertical-align: top;


}
@media only screen and (min-width: 450px) {
    .product-wrapper {
        width: 50%;
    }
}
@media only screen and (min-width: 768px) {
    .product-wrapper {
        width: 50%;
    }
}
@media only screen and (min-width: 1000px) {
    .product-wrapper {
        width: 30%;
    }
}
.product {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 3px;

    background: white;
    text-decoration: none;
}
.product-photo {
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin: 10px auto;
  background-color: rgb(255, 255, 255);
  width: 90%;
  height: 65%;
  flex-direction: row;
  justify-content: center;

}
/*.img {
    max-height: auto;
    max-width: 75%;
}
*/
.categories {
    margin-top: 43px;
    font-family: "Open sans";
    font-weight: 400;
    font-size: 20px;
    line-height: 0px;
}
hr {
    margin: 1px;
    width: 206px ;
}
.text {
    font-family: "Open sans";
    text-decoration: none;
    font-size: 15px;
    font-weight: 200;
    color: black;
}
.item {
    list-style-type:disc;
    color: black;

}
.text:hover {
    color: rgb(0, 146, 63);
}
.item:hover {
    list-style-type:disc;
    color: rgb(0, 146, 63);
}
.bottom {
    height: 63px;
    background-color: #ebebeb;

}
/*.footer_2 {
    width:100%;
    height: 227px;
    background-color: #f8f8f8;
}*/
.bottom_container_1 {
    height: 63px;
    display: flex;
    justify-content: space-between;
}
.info_container {
    display: table;
    height: 100%;
}
.info-list {
    list-style-type: none;
    display: flex;
}
.info_text {
    font-family: "Open sans";
    text-decoration: none;
    font-size: 15px;
    font-weight: 200;
    color: black;
    margin-right: 5px;


}
.payment_img{
    display: table;
    height: 100%;

}
.payment_box {
    display: table-cell;
    vertical-align: middle;

}

